---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/nav.css">
    <link rel="stylesheet" href="{{base}}/assets/css/events.css">
    <title>Events</title>
  </head>
  <body>
    {% include nav.html %}

    <div class="content">
		<h2>Events</h2>
		<div class="eventsContent">
		{% for event in site.eventNames %}
			{% if forloop.last == true %}
			{% else %}
				<div class="eventCard">
					<div class="eventTime">
						<h3>{{site.eventDates[forloop.index]}}</h3>
						<h4>{{site.eventTimes[forloop.index]}}</h4>
					</div>
					<div class="eventRoom">
						<h3>Room</h3>
						<p>{{site.eventRooms[forloop.index]}}</p>
					</div>
					<div class="eventLabs">
						<h3>Lab</h3>
						<p>{{site.eventLabs[forloop.index]}}</p>
					</div>
					<div class="eventInfo">
						<h3>{{site.eventNames[forloop.index]}}</h3>
						<p>{{site.eventDesc[forloop.index]}}</p>
					</div>
				</div>
			{% endif%}
		{% endfor %}
		</div>
    </div>

    {% include footer.html %}

  </body>
</html>
