---
---


<!DOCTYPE html>
<html>
	<head>
		{% include base.html %}
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{base}}/assets/css/main.css">
		<link rel="stylesheet" href="{{base}}/assets/css/nav.css">
		<link rel="stylesheet" href="{{base}}/assets/css/events.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Events</title>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/et_EE/sdk.js#xfbml=1&version=v2.9";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		{% include nav.html %}

		<div class="content">
			<h2>Events</h2>
			<div class="eventsContent">
				<div class="fb-page" 
					data-href="https://www.facebook.com/dtilabs" 
					data-tabs="events" 
					data-width="600px" 
					data-height="auto" 
					data-small-header="true" 
					data-adapt-container-width="true" 
					data-hide-cover="false" 
					data-show-facepile="false" >
					<blockquote cite="https://www.facebook.com/dtilabs" class="fb-xfbml-parse-ignore">
						<a href="https://www.facebook.com/dtilabs">TLU DTI Labs</a>
					</blockquote>
				</div>
			</div>
		</div>

		{% include footer.html %}

	</body>
</html>
