---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/ixd.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IXD</title>
  </head>
  <body>
    {% include nav.html %}

    <div class="header-container">
      <div class="div1 headerL" aria-label="Woman using an interactive map">
        <div class="bgimg-1">
          <div class="caption1">
            <span class="labName">IDLAB</span><br>
          </div>
        </div>
      </div>
      <div class="div2 headerR">
        <div class="bgimg-2" aria-label="Man wearing">
          <div class="caption2">
            <div class="caption2-M">
              <span class="labName">IDLAB</span><br>
            </div>
            <span class="border" style="display: none;">IDLAB Mission</span><br><br>
            <span class="border">IDLAB aims to support the conceptualisation and early prototyping stages of the design process.</span><br> <br>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <h3>Mission</h3>
      <p>IDLAB aims to support the conceptualisation and early prototyping stages of the design process. IDLAB offers access to both expertise and resources necessary for conceiving
        interactive applications and services and later elaborating those ideas as sketches, storyboards, paper prototypes, and wireframes.</p>
      <p>IDLAB can support students working on their ongoing studies projects or thesis-related topics, as well as teams engaged in current research
        projects and industry partners wanting to explore specific design related challenges.</p>
    </div>

    {% include footer.html %}

  </body>
</html>
