---
---


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/labs.css">
    <title>Labs</title>
  </head>
  <body>
    {% include nav.html %}

	<div class="content">
		<div class="homepageNav">
			<!--Gamification lab-->
			<a href="Game">
				<div class="labsGamification">
					<div class="labsGamificationContainer">
						<div class="labsGamificationPic"></div>
					</div>
					<div class="labsGamificationText">
						<h2>Gamification</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque blandit nibh eget ex imperdiet, at rutrum leo interdum. Orci varius.</p>
					</div>
				</div>
			</a>
			
			<!--IXD lab-->
			<a href="IXD">
				<div class="labsIXD">
					<div class="labsIXDText">
						<h2>IXD</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque blandit nibh eget ex imperdiet, at rutrum leo interdum. Orci varius.</p>
					</div>
					<div class="labsIXDPic"></div>
				</div>
			</a>
			
			<!--Technology lab-->
			<a href="Tech">
				<div class="labsTechnology">
					<div class="labsTechnologyPic"></div>
					<div class="labsTechnologyText">
						<h2>Technology</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque blandit nibh eget ex imperdiet, at rutrum leo interdum. Orci varius.</p>
					</div>
				</div>
			</a>
			
			<!--Software Development lab-->
			<a href="Soft">
				<div class="labsSoftware">
					<div class="labsSoftwareText">
						<h2>Software</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque blandit nibh eget ex imperdiet, at rutrum leo interdum. Orci varius.</p>
					</div>
					<div class="labsSoftwarePic"></div>
				</div>
			</a>
		</div>
    </div>

    {% include footer.html %}

  </body>
</html>
