---
---

<!DOCTYPE html>
<html>
  <head>
	  {% include base.html %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{base}}/assets/css/main.css">
	<link rel="stylesheet" href="{{base}}/assets/css/nav.css">
    <link rel="stylesheet" href="{{base}}/assets/css/labs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Labs</title>
  </head>
  <body>
    {% include nav.html %}

  


	<div class="content">
		<div class="homepageNav">
			<!--Gamification lab-->
			{% for 1Game in site.labs %}
			{% if forloop.index == 1%}
			<a href="{{1Game.linkRef}}">
							<div class="labs {{1Game.styleRef}}" >
								<div class="leftSecond" aria-label="{{1Game.ariaLabel}}">
									<div class="labsPicSecond"></div>
								</div>
								<div class="rightSecondG {{1Game.styleRef}}">
									<div class="labsTextSecond">
									<h2><i class="{{1Game.iconType}}" aria-hidden="true"></i>{{1Game.labName}}</h2>

									<p>{{1Game.content}}</p>
									</div>
								</div>
							</div>
						</a>
			{% continue %}
			{% endif %}
			{% if forloop.index == 2 %}
	    		<a href="{{1Game.linkRef}}">
					<div class="labs {{1Game.styleRef}}">
						<div class="leftFirstX {{1Game.styleRef}}">
							<div class="labsTextFirst">
							<h2><i class="{{1Game.iconType}}" aria-hidden="true"></i>{{1Game.labName}}</h2>

							<p>{{1Game.content}}</p>

							</div>
						</div>
						<div class="rightFirst" aria-label="{{1Game.ariaLabel}}">
							<div class="labsPicFirst"></div>
						</div>
					</div>
				</a>
			{% continue %}
    		{% endif %}
    		{% if forloop.index == 3 %}
			<a href="{{1Game.linkRef}}">
					<div class="labs {{1Game.styleRef}}">
						<div class="leftSecond" aria-label="{{1Game.ariaLabel}}">
							<div class="labsPicFourth"></div>
						</div>
						<div class="rightSecondT {{1Game.styleRef}}">
							<div class="labsTextSecond">
							<h2><i class="{{1Game.iconType}}" aria-hidden="true"></i>{{1Game.labName}}</h2>

							<p>{{1Game.content}}</p>
							</div>
						</div>
					</div>
				</a>
  			{% continue %}
    		{% endif %}
    		{%if forloop.index == 4 %}
	    		<a href="{{1Game.linkRef}}">
					<div class="labs {{1Game.styleRef}}">
						<div class="leftFirstS {{1Game.styleRef}}">
							<div class="labsTextFirst">
							<h2><i class="{{1Game.iconType}}" aria-hidden="true"></i>{{1Game.labName}}</h2>

							<p>{{1Game.content}}</p>

							</div>
						</div>
						<div class="rightFirst" aria-label="{{1Game.ariaLabel}}">
							<div class="labsPicThird"></div>
						</div>
					</div>
				</a>
			{% continue %}
    		{% endif %}
			{% endfor %}
			<br><br>

    {% include footer.html %}

  </body>
</html>
