---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/loccon.css">
	  <link rel="stylesheet" href="{{base}}/assets/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Labs</title>
  </head>
  <body>
    {% include nav.html %}

    <div class="content">
		<h3>Locations & Contacts</h3>
		<table id="t01" align="center">
		  <tr>
			<th>Name</th>
			<th>Lab</th> 
			<th>Number</th>
			<th>Room</th>
			<th>E-mail</th>
		  </tr>
		  <tr>
			<td>Mihkel Miski</td>
			<td>Lab</td>
			<td>+372 565 345 356</td>
			<td>A-543</td>
			<td>Mihkel.Miski@mail.ee</td>
		  </tr>
		  <tr>
			<td>Kadri Kallas</td>
			<td>Lab</td>
			<td>+372 565 742 256</td>
			<td>A-406</td>
			<td>KadriKallas@mail.ee</td>
		  </tr>
		  <tr>
			<td>Mihkel Miski</td>
			<td>Lab</td>
			<td>+372 565 345 356</td>
			<td>A-543</td>
			<td>Mihkel.Miski@mail.ee</td>
		  </tr>
		  <tr>
			<td>Mihkel Miski</td>
			<td>Lab</td>
			<td>+372 565 345 356</td>
			<td>A-543</td>
			<td>Mihkel.Miski@mail.ee</td>
		  </tr>
		  <tr>
			<td>Mihkel Miski</td>
			<td>lab</td>
			<td>+372 565 345 356</td>
			<td>A-543</td>
			<td>Mihkel.Miski@mail.ee</td>
		  </tr>
		  <tr>
			<td>Mihkel Miski</td>
			<td>Lab</td>
			<td>+372 565 345 356</td>
			<td>A-543</td>
			<td>Mihkel.Miski@mail.ee</td>
		  </tr>
		</table>
		<div class="Maps">
			<div class="pic1">
				<div class="map">
					<img src="assets/img/map1.jpg" style="width:400px;height:400px;">
				</div>
			</div>
			<div class="pic2">
				<div class="map">
					<img src="assets/img/map2.jpg" style="width:400px;height:400px;">
				</div>
			</div>
		</div>
    </div>

    {% include footer.html %}

  </body>
</html>
