header {
  height: 450px;
  background: url(../img/hero-bg2.jpg);
  background-size: cover;
}

.logo {
  height: 50px;
  width: 50px;
  background: #999;
  float: left;
  margin: 10 0 0 30
}

nav {
  float: right;
  display: inline-block;
  margin: 30 30 0 0;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

nav a:hover {
  color: rgba(255, 255, 255, 1);
}

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;
}

span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: white solid 10px;
}

.kicker {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: white;
  line-height: 1;
}

footer {
  height: 150px;
  background: url(../img/hero-bg2.jpg);
  background-size: cover;
}

footer nav {
  float: left;
  margin: 63px 0px 50px 0px;
}

footer div.logo {
  margin: 50px 0px 50px 30px;
}
