---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/mentors.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include nav.html %}

    <div class='content'>
      <h3>Mentors</h3>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <a href="#popup2">
        <div class="person">
          <div class="user">
          </div>
          <span class="name">Peeter Eeter</span>
          <span class="occ">Gamification</span>
        </div>
      </a>
    </div>

    <div id="popup2" class="overlay light">
    	<a class="cancel" href="#"></a>
    	<div class="popup">
    		<h2>What the what?</h2>
    		<div class="content3">
          <p>Click outside the popup to close.</p>
    		</div>
    	</div>
    </div>

    {% include footer.html %}

  </body>
</html>
