---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/mentors.css">
  </head>
  <body>
    {% include nav.html %}

    <div class='content'>
      <h3>Mentors</h3>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
      <div class="person">
        <div class="user">

        </div>
        <span class="name">Peeter Eeter</span>
        <span class="occ">Gamification</span>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
