---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/ResHard.css">
	  <link rel="stylesheet" href="{{base}}/assets/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software</title>
  </head>
  <body>
    {% include nav.html %}


    <div class="content">
    <h3>Hardware</h3>
    <ul class="resource">
      <h4 class="naming">Naming</h4><h4 class="os">OS</h4><h4 class="countH">Count</h4>
      <i class="fa fa-lightbulb-o icon" aria-hidden="true"></i>
      <li class="ixd"><a href="">Something in here</a><span class="os">Windows 8</span><span class="count">3</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="os">Ubuntu 15</span><span class="count">3</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="os">Mac OS</span><span class="count">2</span></li>
      <li class="ixd"><a href="">Something in here</a><span class="os">Fedora</span><span class="count">3</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="os">Win 7</span><span class="count">11</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="os">Windows 10</span><span class="count">3</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="os">Cent OS</span><span class="count">1</span></li>
      <i class="fa fa-gamepad icon" aria-hidden="true"></i>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="os">2.4</span><span class="count">1</span></li>
      <i class="fa fa-cogs icon" aria-hidden="true"></i>
      <li class="tech"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here is very very very long as far as descriptions go</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here</a><span class="count">1</span></li>
      <i class="fa fa-code icon" aria-hidden="true"></i>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
    </ul>
    <h3>Software</h3>
    <ul class="resource">
      <h4 class="naming">Naming</h4><h4 class="countH">Count</h4>
      <i class="fa fa-lightbulb-o icon" aria-hidden="true"></i>
      <li class="ixd"><a href="">Something in here</a><span class="count">1</span></li>
      <li class="ixd"><a href="">Something in here</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="">Something in here</a><span class="count">1</span></li>
      <li class="ixd"><a href="">Something in here</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="ixd"><a href="#">Something in here also</a><span class="count">1</span></li>
      <i class="fa fa-gamepad icon" aria-hidden="true"></i>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="game"><a href="#">Something in here also</a><span class="count">1</span></li>
      <i class="fa fa-cogs icon" aria-hidden="true"></i>
      <li class="tech"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="tech"><a href="#">Something in here is very very very long as far as descriptions go</a><span class="count">1</span></li>
      <i class="fa fa-code icon" aria-hidden="true"></i>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
      <li class="soft"><a href="#">Something in here also</a><span class="count">1</span></li>
    </ul>

    </div>
    {% include footer.html %}

  </body>
</html>
