---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/ResSoft.css">
	<link rel="stylesheet" href="{{base}}/assets/css/nav.css">
    <title>Software</title>
  </head>
  <body>
    {% include nav.html %}

	<div class="content">
		<div class="box1">
			<div class="Gam">
			<h2 style="padding-left: 10px;">Gamification</h2>
			</div>
			<div class="inBox1">
				<div class="insideBox">
					<h3>Software</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
				<div class="insideBox1">
				<h3>Hardware</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box1">
			<div class="ixd">
			<h2 style="padding-left: 10px;">IXD</h2>
			</div>
			<div class="inBox2">
				<div class="insideBox">
					<h3>Software</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
				<div class="insideBox1">
				<h3>Hardware</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box1">
			<div class="Tech">
			<h2 style="padding-left: 10px;">Technology</h2>
			</div>
			<div class="inBox3">
				<div class="insideBox">
					<h3>Software</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
				<div class="insideBox1">
				<h3>Hardware</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box1">
			<div class="soft">
			<h2 style="padding-left: 10px;">Software</h2>
			</div>
			<div class="inBox4">
				<div class="insideBox">
					<h3>Software</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
				<div class="insideBox1">
				<h3>Hardware</h3>
					<ul>
						<li>bla</li>
						<li>bla</li>
						<li>bla</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
	
	

    {% include footer.html %}

  </body>
</html>
