---
---


<!DOCTYPE html>
<html>
  <head>
    {% include base.html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base}}/assets/css/main.css">
    <link rel="stylesheet" href="{{base}}/assets/css/ResSoft.css">
	  <link rel="stylesheet" href="{{base}}/assets/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software</title>
  </head>
  <body>
    {% include nav.html %}


   <div class="content">
		<div class="Gam">
		<h3>Gamification</h3>
			<div id="Div">
				<div class="GamSoftDiv">
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
					<div class="GamSoft">
						<h4>blabla</h4>
					</div>
				</div>	
			</div>
		</div>
    </div>
    {% include footer.html %}

  </body>
</html>
