<div class="header-container" id="headerGallery">


  <input type="radio" name="radio-btn" id="lab1">
  <div class="div1 headerL">
    <div class="bgimg-1" aria-label="Uks vinge labor" >
      <div class="caption1">
        <span class="labName">Uks vinge labor</span><br>
      </div>
      <a href="" class="button" id="button1">Loe lahemalt</a>
    </div>
  </div>
  <div class="div2 headerR">
    <div class="bgimg-2">
      <div class="caption2">
        <div class="caption2-M">
          <span class="labName">Uks vinge labor</span><br>
        </div>
        <span class="border" style="display: none;">Labori luhikirjeldus</span><br><br>
        <span class="border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris</span><br> <br>
      </div>
      <a href="" class="button" aria-labelledby="Loe veel">Loe veel</a>
    </div>
  </div>
  <input type="radio" name="radio-btn" id="lab2">
  <div class="div3 headerL">
    <div class="bgimg-1">
      <div class="caption1">
        <span class="labName">Uks vinge labor</span><br>
      </div>
      <a href="" class="button" id="button1" aria-labelledby="Loe lahemalt">Loe lahemalt</a>
    </div>
  </div>
  <div class="div4 headerR">
    <div class="bgimg-2">
      <div class="caption2">
        <div class="caption2-M">
          <span class="labName">Uks vinge labor</span><br>
        </div>
        <span class="border" style="display: none;">Labori luhikirjeldus</span><br><br>
        <span class="border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris</span><br> <br>
      </div>
      <a href="" class="button">Loe veel</a>
    </div>
  </div>
  <input type="radio" name="radio-btn" id="lab3">
  <div class="div5 headerL">
    <div class="bgimg-1">
      <div class="caption1">
        <span class="labName">Uks vinge labor</span><br>
      </div>
      <a href="" class="button" id="button1" aria-labelledby="Loe lahemalt">Loe lahemalt</a>
    </div>
  </div>
  <div class="div6 headerR">
    <div class="bgimg-2">
      <div class="caption2">
        <div class="caption2-M">
          <span class="labName">Uks vinge labor</span><br>
        </div>
        <span class="border" style="display: none;">Labori luhikirjeldus</span><br><br>
        <span class="border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris</span><br> <br>
      </div>
      <a href="" class="button" aria-labelledby="Loe veel">Loe veel</a>
    </div>
  </div>
  <input type="radio" name="radio-btn" id="lab4">
  <div class="div7 headerL">
    <div class="bgimg-1">
      <div class="caption1">
        <span class="labName">Uks vinge labor</span><br>
      </div>
      <a href="" class="button" id="button1">Loe lahemalt</a>
    </div>
  </div>
  <div class="div8 headerR">
    <div class="bgimg-2">
      <div class="caption2">
        <div class="caption2-M">
          <span class="labName">Uks vinge labor</span><br>
        </div>
        <span class="border" style="display: none;">Labori luhikirjeldus</span><br><br>
        <span class="border">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris</span><br> <br>
      </div>
      <a href="" class="button" aria-labelledby="Loe veel">Loe veel</a>
    </div>
  </div>
  <div class="nav-dots">
    <label for="lab1" class="nav-dot"></label>
    <label for="lab2" class="nav-dot"></label>
    <label for="lab3" class="nav-dot"></label>
    <label for="lab4" class="nav-dot"></label>
  </div>
</div>
