<nav>
  <ul>
    <li><a href="index.html">Main page</a></li>
    <li id="Labs"><a href="Labs">Labs</a>
      <div class="Drop">
        <div class="LabsDropCont">
          <ul>
            <li><a href="Game">Gamification</a></li>
            <li><a href="IXD">IXD</a></li>
            <li><a href="Tech">Technology</a></li>
            <li><a href="Soft">Software</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li id="Res"><a href="Res">Resources</a>
      <div class="Drop">
        <div class="ResDropCont">
          <ul>
            <li><a href="#">Software</a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Mentors</a></li>
            <li><a href="#">Best practices</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li id="Events"><a href="Events">Events</a>
      <div class="Drop">
        <div class="EventsDropCont">
          <ul>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">LabHack</a></li>
            <li><a href="#">Demos</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li><a href="LocCon">Location & Contact</a></li>
    <li><a href='Reg'>Regulations</a></li>
    <li><a href="Stat">Statute</a></li>
  </ul>
</nav>
