<nav id="fullNav">
  <ul>
    <li class="Tier1"><a href="index.html">Main page</a></li>
    <li id="Labs" class="Tier1"><a href="Labs">Labs</a>
      <div class="Drop">
        <div class="LabsDropCont">
          <ul>
            <li><a href="Game">Gamification</a></li>
            <li><a href="IXD">IDLAB</a></li>
            <li><a href="Tech">Technology</a></li>
            <li><a href="Soft">Software</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li id="Res" class="Tier1"><a href="Res">Resources</a>
      <div class="Drop">
        <div class="ResDropCont">
          <ul>
            <li><a href="ResSoft">Software</a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="Mentors">Mentors</a></li>
            <li><a href="#">Best practices</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li id="Events" class="Tier1"><a href="Events">Events</a>
      <div class="Drop">
        <div class="EventsDropCont">
          <ul>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">LabHack</a></li>
            <li><a href="#">Demos</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="Tier1"><a href="LocCon">Location & Contact</a></li>
    <li class="Tier1"><a href='Reg'>Regulations</a></li>
    <li class="Tier1"><a href="Stat">Statute</a></li>
  </ul>
</nav>

<nav id="minNav">
  <div id="minNavT">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="minMainUl">
      <li class="minTier1"><a href="index.html">Main page</a></li>
      <li id="minLabs" class="minTier1"><a href="Labs">Labs</a>
        <div class="minDrop">
          <div class="minLabsDropCont">
            <ul id="minTier2Ul">
              <li><a href="Game">Gamification</a></li>
              <li><a href="IXD">IDLAB</a></li>
              <li><a href="Tech">Technology</a></li>
              <li><a href="Soft">Software</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li id="minRes" class="minTier1"><a href="Res">Resources</a>
        <div class="minDrop">
          <div class="minResDropCont">
            <ul id="minTier2Ul">
              <li><a href="ResSoft">Software</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="Mentors">Mentors</a></li>
              <li><a href="#">Best practices</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li id="minEvents" class="minTier1"><a href="Events">Events</a>
        <div class="minDrop">
          <div class="minEventsDropCont">
            <ul id="minTier2Ul">
              <li><a href="#">Calendar</a></li>
              <li><a href="#">LabHack</a></li>
              <li><a href="#">Demos</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="minTier1"><a href="LocCon">Location & Contact</a></li>
      <li class="minTier1"><a href='Reg'>Regulations</a></li>
      <li class="minTier1"><a href="Stat">Statute</a></li>
    </ul>
  </div>
</nav>
