h4{

}

.eventsContent{
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	transition: -webkit-box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), -webkit-box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.eventCard{
	background:#fdfdfd;
	position:relative;
	margin:0 auto;
	display:block;
	width:100%;
	height:auto;
	border-bottom:1px solid lightgray;
}

.eventCard div{
	vertical-align:middle;
}

.eventTime{
	text-align:center;
	padding:0;
	display:inline-block;
	min-width:13%;
	width:auto;
	border-right:1px solid lightgray;
}

.eventRoom{
	text-align:center;
	display:inline-block;
	min-width:13%;
	width:auto;
	border-right:1px solid lightgray;
}

.eventLabs{
	text-align:center;
	display:inline-block;
	min-width:13%;
	width:auto;
	border-right:1px solid lightgray;

}

.eventInfo{
	display:inline-block;
	width:55%;
}
