---
---
{% include base.html %}

.eventCard{
	background:#fdfdfd;
	position:relative;
	margin:0 auto;
	display:block;
	width:100%;
	height:auto;
	border-bottom:1px solid lightgray;
}

.eventCard div{
	vertical-align:middle;
}

.eventTime{
	text-align:center;
	padding:0;
	display:inline-block;
	min-width:13%;
	width:auto;
	border-right:1px solid lightgray;
}

.eventRoom{
	text-align:center;
	display:inline-block;
	min-width:7%;
	width:auto;
	border-right:1px solid lightgray;
}

.eventLabs{
	text-align:center;
	display:inline-block;
	min-width:10%;
	width:auto;
	border-right:1px solid lightgray;
}

.eventInfo{
	display:inline-block;
	max-width:65%;
	width:auto;
}

.popupOpenArrow{
	display:none;
}

.popupCloseArrow{
	display:none;
}

@media only screen and (max-width: 750px){
	.eventsContent{
		box-shadow:none;
	}
	
	.eventCard{
		margin-bottom:20px;
		border:none;
		box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	}
		
	.eventTime{
		flex-grow:1;
		border:none;
	}
	
	.mobTimeNumbers{
		display:none;
	}
	
	.eventRoom{
		flex-grow:1;
		width:auto;
		border:none;
	}
	
	.eventLabs{
		flex-grow:1;
		width:auto;
		border:none;
	}
	
	.eventInfo{
		border-top:1px solid lightgray;
		width:100%;
		display:block;
	}
	
	.eventName{
		text-align:center;
	}
	
	.eventDesc{
		display:none;
	}
	
	.eventDesc:target{
		display:block;
		visibility: visible;
		opacity: 1;
	}
	
	.popupArrowContainer{
		text-align:center;
		display:block;
		width:100%;
		margin-top:-15px;
		height:20px;
	}
	
	.popupOpenArrow:target{
		display:none
	}
	.popupCloseArrow:target{
		margin:auto;
		display:initial;
		margin-top:-20px;
	}

}
