---
---


{% include base.html %}


:root {
  --lab-colour: rgba(8, 153, 0, 1);
}

.div1 {
  min-width: 45%;
  height: 400px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  position: relative;
}

.bgimg-1 {
  background: url("{{base}}/assets/img/ixd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div2 {
  min-width: 70%;
  width: auto;
  height: 400px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: var(--lab-colour);
  overflow: hidden;
  float: right;
  position: relative;
  /*right: -80px;*/
}

.bgimg-2 {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: none;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.labName {
  font-size: 30px;
  font-weight: 800;
  color: white;
  /*background: rgb(161, 167, 175, 0.5);
  border: 5px solid white;*/
  padding: 5px;
}

.caption1 {
  margin: 180px 140px auto 20px;
  border: 5px solid white;
  background: rgba(161, 167, 175, 0.5);
  text-align: center;
}

.caption2-M {
  display: none;
}

.caption2 {
  margin: auto 24% auto 12%;
  color: white;
}

.border {
  color: white;
}
