---
---


{% include base.html %}


:root {
  --lab-colour: rgba(8, 153, 0, 1);
}

.div1 {
  min-width: 45%;
  height: 400px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  position: relative;
}

.bgimg-1 {
  background: url("{{base}}/assets/img/ixd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div2 {
  width: auto;
  height: 400px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: var(--lab-colour);
  overflow: hidden;
  float: right;
  position: relative;
  /*right: -80px;*/
}

.bgimg-2 {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: none;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.labName {
  font-size: 30px;
  font-weight: 800;
  color: white;
  /*background: rgb(161, 167, 175, 0.5);
  border: 5px solid white;*/
  padding: 5px;
}

.caption1 {
  margin: 180px 140px auto 20px;
  border: 5px solid white;
  background: rgba(161, 167, 175, 0.5);
  text-align: center;
}

.caption2-M {
  display: none;
}

.caption2 {
    margin: auto 100px auto 80px;
    color: white;
}
.gameNav{
  background-color: green;
  list-style-type: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: --lab-colour;
}

.listInNav {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #66ff99;
}
