---
---
{% include base.html %}
a{
	text-decoration:none;
}

:link{
	color:black;
}

:visited{
	color:black;
}

.content{
	margin:auto;
	padding:20px;
	width:93%;

}
.content p {
	margin:0;
	height: inherit;
	width: 750px;
	min-height: 150px;
	color:#777;

}

/*Icons*/
.fa-gamepad {
 	color: rgba(143, 0, 179, 1);
}
.fa-cogs {
	color: rgba(0, 153, 255, 1);
}
.fa-code{
	color: rgba(255, 153, 0, 1);
}
.fa-lightbulb-o{
	color: rgba(8, 153, 0, 1);
}


/*Gamification Lab*/

/*Parent div*/

.labsGamification{
	margin-bottom:20px;
	overflow: hidden;
	height:auto;
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 150px;
	background: none;
	transition:transform 0.5s, width 0.5s;
	-webkit-transition: width 0.5s, transform 0.5s;
	-moz-transition: width 0.5s, transform 0.5s;
	border-right: 5px solid;
	border-right-color: rgba(143, 0, 179, 1);
}

/*Child divs*/

.labsGamificationLeft{
	min-width: 40%;
	margin: 0 0 0 -120px !important;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #519090;
	overflow: hidden;
	float: left;
	position: relative;
	transition:margin 0.5s;
	-webkit-transition:margin 0.5s;
	-moz-transition:margin 0.5s;
}

.labsGamificationPic{
	background: url("{{base}}/assets/img/game.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: 80px;
	right: -80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}


.labsGamificationRight{
	width: auto;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:#fafafa;
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition:margin 0.5s, background 0.5s linear;
	-webkit-transition: margin 0.5s, background 0.5s linear;
	-moz-transition:margin 0.5s, background 0.5s linear;
	border-left: 5px solid;
	border-left-color: rgba(143, 0, 179, 1);


}

.labsGamificationText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	padding-right:150px;
	margin-left: 60px;
	margin-bottom: 10px;
}



/*IXD Lab*/

/*Parent div*/

.labsIXD{
	margin-bottom:20px;
	overflow: hidden;
	height:auto;
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 150px;
	transition:transform 0.5s, width 0.5s;
	-webkit-transition: transform 0.5s, width 0.5s;
	-moz-transition:transform 0.5s, width 0.5s;
	border-left: 5px solid;
	border-left-color: rgba(8, 153, 0, 1);
}

/*Child divs*/

.labsIXDRight{
	min-width: 40%;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: rgba(146,180,87,0.6);
	overflow: hidden;
	float: left;
	position: relative;
	transition:margin 0.5s;
	-webkit-transition:margin 0.5s;
	-moz-transition:margin 0.5s;
}

.labsIXDPic{
	background: url("{{base}}/assets/img/ixd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: -80px;
	right: 80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}


.labsIXDLeft{
	width: auto;
	margin: 0 0 0 -120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:#fafafa;
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition:margin 0.5s;
	-webkit-transition: margin 0.5s, background 0.5s linear;
	-moz-transition:margin 0.5s, background 0.5s linear;
	border-right: 5px solid;
	border-right-color: rgba(8, 153, 0, 1);;

	/*right: -80px;*/
}
.labsIXDLeft h2 {
	width: 100%;
}

.labsIXDText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-left:150px;
	text-align: left;
	margin-right: 60px;
	margin-bottom: 10px;
}

/*Technology Lab*/

/*Parent div*/

.labsTechnology{
	margin-bottom:20px;
	overflow: hidden;
	height:auto;
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 150px;
	transition:transform 0.5s, width 0.5s;
	-webkit-transition: width 0.5s, transform 0.5s;
	-moz-transition:width 0.5s, transform 0.5s;
	border-right:5px solid;
	border-right-color: rgba(0, 153, 255, 1);

}

/*Child divs*/

.labsTechnologyLeft{
	min-width: 40%;
	margin: 0 0 0 -120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: rgba(41,128,185,0.6);
	overflow: hidden;
	float: left;
	position: relative;
	transition:margin 0.5s;
	-webkit-transition:margin 0.5s;
	-moz-transition:margin 0.5s;

}

.labsTechnologyPic{
	background: url("{{base}}/assets/img/iot.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: 80px;
	right: -80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}


.labsTechnologyRight{
	width: auto;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:#fafafa;
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition:margin 0.5s;
	-webkit-transition: margin 0.5s, background 0.5s linear;
	-moz-transition:margin 0.5s, background 0.5s linear;
	border-left:5px solid;
	border-left-color:rgba(0, 153, 255, 1);

}

.labsTechnologyText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	padding-right:150px;
	margin-left: 60px;
	margin-bottom: 10px;
}

/*Software Development Lab*/

/*Parent div*/

.labsSoftware{
	overflow: hidden;
	height:auto;
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 150px;
	transition:transform 0.5s, width 0.5s;
	-webkit-transition: transform 0.5s, width 0.5s;
	-moz-transition: transform 0.5s, width 0.5s;
	border-left:5px solid;
	border-left-color: rgba(255, 153, 0, 1);

}

/*Child divs*/

.labsSoftwareRight{
	min-width: 40%;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: rgba(243,156,18,0.6);
	overflow: hidden;
	float: left;
	position: relative;
	transition:margin 0.5s;
	-webkit-transition: transform 0.5s, width 0.5s;
	-moz-transition:transform 0.5s, width 0.5s;
}

.labsSoftwarePic{
	background: url("{{base}}/assets/img/soft.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: -80px;
	right: 80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}

.labsSoftwareLeft{
	width: auto;
	margin: 0 0 0 -120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:#fafafa;
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition:margin 0.5s;
	-webkit-transition: margin 0.5s, background 0.5s linear;
	-moz-transition:margin 0.5s, background 0.5s linear;
	border-right: 5px solid;
	border-right-color: rgba(255, 153, 0, 1);

}

.labsSoftwareText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: right;
	    -ms-flex-align: right;
	        align-items: right;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-left:150px;
	text-align: left;
	float: left;
	margin-right: 60px;
	margin-bottom: 10px;
	--widthForChange:width;
}


/*Hovers*/


.labsGamification:hover{
    width: 104%;
    transform:translate(-2%, 0%);
}
.labsGamification:hover .labsGamificationRight{
	margin-left:20px;
	/*background:rgba(124,70,145,0.45);*/
}
.labsGamification:hover .labsGamificationLeft{
	margin-left:20px;

}



.labsIXD:hover{
    width: 104%;
    transform:translate(-2%, 0%);
}
.labsIXD:hover .labsIXDRight{
	margin-left:10px;
}
.labsIXD:hover .labsIXDLeft{
	margin-right: 10px;
	/*background-color: rgba(203, 150, 0, 0.9);*/

}



.labsTechnology:hover{
    width: 104%;
    transform:translate(-2%, 0%);
}
.labsTechnology:hover .labsTechnologyRight{
	margin-left:10px;
	/*background:rgba(41,128,185,0.45);*/
}
.labsTechnology:hover .labsTechnologyLeft{
	margin-right: 10px;
}




.labsSoftware:hover{

    width: 104%;
    transform:translate(-2%, 0%);
    
}
.labsSoftware:hover .labsSoftwareRight{
	margin-left:10px;
}
.labsSoftware:hover .labsSoftwareLeft{
	margin-right: 10px;
	/*background:rgba(243,156,18,0.45);*/

}


/*Mobile view*/

@media only screen and (max-width: 1260px){
	.content p{
		width: 600px;
		height: inherit;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: 996px){
	.content p{
		width: 400px;
		height: inherit;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}
}



@media only screen and (max-width: 750px) {
	.content{
		margin:0;
		padding:0;
		width:100%;
	}
	.content p{
		height: auto;
		width:auto;
	}

	/*Gamification Lab*/
	.labsGamification{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsGamificationLeft{
		display:none;
	}

	.labsGamificationPic{
		display:none;
	}

	.labsGamificationRight{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/game.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}


	.labsGamificationText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	/*IXD Lab*/
	.labsIXD{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsIXDRight{
		display:none;
	}

	.labsIXDPic{
		display:none;
	}


	.labsIXDLeft{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/ixd.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsIXDText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	/*Technology Lab*/
	.labsTechnology{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsTechnologyLeft{
		display:none;
	}

	.labsTechnologyPic{
		display:none;
	}


	.labsTechnologyRight{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/iot.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsTechnologyText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	/*Software Development Lab*/
	.labsSoftware{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsSoftwareRight{
		display:none;
	}

	.labsSoftwarePic{
		display:none;
	}

	.labsSoftwareLeft{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/soft.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsSoftwareText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
