---
---
{% include base.html %}
a{
	text-decoration:none;
}

:link{
	color:black;
}

:visited{
	color:black;
}

.content{
	margin:auto;
	padding:20px;
	width:93%;

}
.content p {
	margin:0;
}


/*Gamification Lab*/
.labsGamification{
	margin-bottom:20px;
	overflow: hidden;
	height:auto;
	width:100%;
	display: flex;
	position: relative;
	min-height: 150px;
	transition: box-shadow 0.5s, margin 0.5s;

}

.labsGamificationLeft{
	min-width: 40%;
	margin: 0 0 0 -120px !important;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #519090;
	overflow: hidden;
	float: left;
	position: relative;
}

.labsGamificationPic{
	background: url("{{base}}/assets/img/game.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: 80px;
	right: -80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}


.labsGamificationRight{
	width: auto;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:rgba(124,70,145,0.6);
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition: box-shadow 0.5s, margin 0.5s;
	/*right: -80px;*/
}

.labsGamificationText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	padding-right:150px;
	margin-left: 60px;
	margin-bottom: 10px;
}

/*IXD Lab*/
.labsIXD{
	margin-bottom:20px;
	overflow: hidden;
	height:auto;
	width:100%;
	display: flex;
	position: relative;
	min-height: 150px;
	transition: box-shadow 0.5s, margin 0.5s;
}

.labsIXDRight{
	min-width: 40%;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: rgba(146,180,87,0.6);
	overflow: hidden;
	float: left;
	position: relative;
}

.labsIXDPic{
	background: url("{{base}}/assets/img/ixd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: -80px;
	right: 80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}


.labsIXDLeft{
	width: auto;
	margin: 0 0 0 -120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:rgba(146,180,87,0.6);
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition: box-shadow 0.5s, margin 0.5s;
	/*right: -80px;*/
}
.labsIXDLeft h2 {
	width: 100%;
}

.labsIXDText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
	padding-left:150px;
	text-align: left;
	margin-right: 60px;
	margin-bottom: 10px;
}

/*Technology Lab*/
.labsTechnology{
	margin-bottom:20px;
	overflow: hidden;
	height:auto;
	width:100%;
	display: flex;
	position: relative;
	min-height: 150px;
	transition: box-shadow 0.5s, margin 0.5s;
}

.labsTechnologyLeft{
	min-width: 40%;
	margin: 0 0 0 -120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: rgba(41,128,185,0.6);
	overflow: hidden;
	float: left;
	position: relative;

}

.labsTechnologyPic{
	background: url("{{base}}/assets/img/iot.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: 80px;
	right: -80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}


.labsTechnologyRight{
	width: auto;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:rgba(41,128,185,0.6);
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition: box-shadow 0.5s, margin 1s;
	/*right: -80px;*/
}

.labsTechnologyText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	padding-right:150px;
	margin-left: 60px;
	margin-bottom: 10px;
}

/*Software Development Lab*/
.labsSoftware{
	overflow: hidden;
	height:auto;
	width:100%;
	display: flex;
	position: relative;
	min-height: 150px;
	transition: box-shadow 0.5s, margin 0.5s;
}

.labsSoftwareRight{
	min-width: 40%;
	margin: 0 -80px 0 10px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: rgba(243,156,18,0.6);
	overflow: hidden;
	float: left;
	position: relative;
}

.labsSoftwarePic{
	background: url("{{base}}/assets/img/soft.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: inherit;
	left: -80px;
	right: 80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	width:100%;
	height:100%;
}

.labsSoftwareLeft{
	width: auto;
	margin: 0 0 0 -120px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:rgba(243,156,18,0.6);
	overflow: hidden;
	float: right;
	position: relative;
	width:100%;
	height:100%;
	min-height: inherit;
	transition: box-shadow 0.5s, margin 0.5s;
}

.labsSoftwareText{
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: none;
	height: inherit;
	display: flex;
	align-items: right;
	justify-content: center;
	flex-direction: column;
	padding-left:150px;
	text-align: left;
	float: left;
	margin-right: 60px;
	margin-bottom: 10px;
}
.labsSoftwareLeft h2 {
	width: 100%;
}

/* Hovers*/

.labsGamification:hover{
	margin-left:20px;
	-webkit-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
}
.labsGamification:hover .labsGamificationRight{
	margin-left:20px;
	-webkit-box-shadow: -20px 0px 0px 0px rgba(112,73,112,1);
	-moz-box-shadow: -20px 0px 0px 0px rgba(112,73,112,1);
	box-shadow: -20px 0px 0px 0px rgba(112,73,112,1);
}
.labsIXD:hover{
	margin-left:20px;
	-webkit-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
}
.labsIXD:hover .labsIXDLeft{
	margin-right:10px;
	-webkit-box-shadow: 30px 0px 0px 0px rgba(68,138,96,1);
	-moz-box-shadow: 30px 0px 0px 0px rgba(68,138,96,1);
	box-shadow: 30px 0px 0px 0px rgba(68,138,96,1);
}
.labsTechnology:hover{
	margin-left:20px;
	-webkit-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
}
.labsTechnology:hover .labsTechnologyRight{
	margin-left:20px;
	-webkit-box-shadow: -20px 0px 0px 0px rgba(65,98,138,1);
	-moz-box-shadow: -20px 0px 0px 0px rgba(65,98,138,1);
	box-shadow: -20px 0px 0px 0px rgba(65,98,138,1);
}
.labsSoftware:hover{
	margin-left:20px;
	-webkit-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
    box-shadow: -20px 18px 5px -9px rgba(0,0,0,0.46);
}
.labsSoftware:hover .labsSoftwareLeft{
	margin-right:10px;
	-webkit-box-shadow: 20px 0px 0px 0px rgba(235,225,112,1);
	-moz-box-shadow: 20px 0px 0px 0px rgba(235,225,112,1);
	box-shadow: 20px 0px 0px 0px rgba(235,225,112,1);
}
/* Justify text in divs*/


@media only screen and (max-width: 750px) {
	.content{
		margin:0;
		padding:0;
		width:100%;
	}
	
	/*Gamification Lab*/
	.labsGamification{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsGamificationLeft{
		display:none;
	}

	.labsGamificationPic{
		display:none;
	}

	.labsGamificationRight{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/game.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsGamificationText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	/*IXD Lab*/
	.labsIXD{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsIXDRight{
		display:none;
	}

	.labsIXDPic{
		display:none;
	}


	.labsIXDLeft{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/ixd.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsIXDText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	/*Technology Lab*/
	.labsTechnology{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsTechnologyLeft{
		display:none;
	}

	.labsTechnologyPic{
		display:none;
	}


	.labsTechnologyRight{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/iot.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsTechnologyText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	/*Software Development Lab*/
	.labsSoftware{
		height:150px;
		margin:0px;
		width:100%;
		position: relative;
	}

	.labsSoftwareRight{
		display:none;
	}

	.labsSoftwarePic{
		display:none;
	}

	.labsSoftwareLeft{
		width:100%;
		margin:0;
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		background:url("{{base}}/assets/img/soft.jpg");
		overflow: hidden;
		float: none;
		position: absolute;
		width:100%;
		height:100%;
		/*right: -80px;*/
	}

	.labsSoftwareText{
		margin-top:-20px;
		background:rgba(200,200,200,0.2);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}



