table, th, td {
	text-align: center;
	border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center-left;
}
th {
    color: #777;
}
table#t01 {
    width: 100%;
	/*box-shadow: 0 0 10px #000;*/
}
th, td{
    border-bottom: 1px solid lightgrey;
}

.Maps{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: center;
	    align-content: center;
	margin-top: 20px;
}

.pic1{
	width: 50%;
	height: auto;
	border: 0;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: center;
	    align-content: center;
}

.pic2{
	width: 50%;
	height: auto;
	border: 0;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: center;
	    align-content: center;
}

.img{
	margin: 20px;
	border: 20px;
	border-style: solid;
	border-color: #80aaff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
img:hover{
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
