---
---

{% include base.html %}

@import url("{{base}}/assets/css/nav.css");

body, html {
  margin: auto;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  height: 100%;
  max-width: 1400px;
}

.header-container {
  overflow: hidden;
  margin: 20px;
  display: flex;
  position: relative;
}

h3 {
  margin: 10px;
}

p {
  margin: 10px;
}

.div3, .div4 {
  display: none;
}

.div5, .div6 {
  display: none;
}

.div7, .div8 {
  display: none;
}

.content {
  min-height: 80%;
  margin: 50px;
}

footer {
  background: lightblue;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 30px 0;
}

footer ul {
  display: inline;
  text-align: center;
}

footer ul li {
  display: inline;
  text-align: center;
  margin: 0 10%;
}
