---
---


{% include base.html %}


@import url("{{base}}/assets/css/main.css");
@import url("{{base}}/assets/css/nav.css");

.div3, .div4, .div5, .div6, .div7, .div8{
	display:none;
}


.div1 {
  min-width: 45%;
  height: 350px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  display:inline-block;
  position: relative;
}

.div3 {
  min-width: 45%;
  height: 350px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  position: relative;
}

.div5 {
  min-width: 45%;
  height: 350px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  position: relative;
}

.div7 {
  min-width: 45%;
  height: 350px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  position: relative;
}



.slider-img-1{
	background: url("{{base}}/assets/img/research.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-img-2{
	background: url("{{base}}/assets/img/slide-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-img-3{
	background: url("{{base}}/assets/img/slide-2.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-img-4{
	background: url("{{base}}/assets/img/slide-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div2 {
  width: auto;
  height: 350px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: lightblue;
  overflow: hidden;
  float: right;
  position: relative;
  display:inline-block;
  /*right: -80px;*/
}

.div4 {
  width: auto;
  height: 350px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: lightblue;
  overflow: hidden;
  float: right;
  position: relative;
  /*right: -80px;*/
}

.div6 {
  width: auto;
  height: 350px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: lightblue;
  overflow: hidden;
  float: right;
  position: relative;
  /*right: -80px;*/
}

.div8 {
  width: auto;
  height: 350px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: lightblue;
  overflow: hidden;
  float: right;
  position: relative;
  /*right: -80px;*/
}

.bgimg-2 {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: none;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caption1 {
  margin: 120px 140px auto 20px;
  /*border: 5px solid white;
  background: rgb(161, 167, 175, 0.5);*/
  text-align: center;
}

.caption2-M {
  display: none;
}

.caption2 {
    margin: auto 100px auto 80px;
}

.HHeroT {
  margin-top: 50px;
}

.button {
  margin: auto 48% 30px auto;
  background: rgb(161, 167, 175, 0.5);
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: #c3c6cc solid 0px;
  border-radius: 15%;
  padding: 0px 14px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.button:hover {
  background: rgb(161, 167, 175, 0.8);
}

.header-container input {
  display: none;
}

.nav-dots {
  width: 100%;
  bottom: 10px;
  height: 12px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6)
}

.nav-dot:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.labName {
  font-size: 45px;
  font-weight: 800;
  color: white;
  /*background: rgb(161, 167, 175, 0.5);
  border: 5px solid white;*/
  padding: 5px;
  text-shadow: 1px 1px 1px black;
}

#button1 {
  display: none;
}

@media only screen and (max-width: 750px) {

  html {
    min-width: 320px;
  }

  .header-container {
    overflow: hidden;
    margin: 1% 0;;
    display: relative;
  }

  .div1, .div3, .div5, .div7 {
    min-width: calc(100% + 80px);
    height: 350px;
    margin: 0 -40px 0 -40px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #519090;
    overflow: hidden;
    float: left;
    position: relative;
  }

  .slider-img-1, .slider-img-2, .slider-img-3, .slider-img-4 {
    left: 0px;
    right: -40px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .div2, .div4, .div6, .div8 {
    width: calc(100% + 80px);
    height: 350px;
    margin: 0 -40px 0 -40px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: lightblue;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    padding: 0 0 0 0px;
    /*right: -80px;*/
  }

  .bgimg-2 {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: none;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .labName {
    font-size: 20px;
    font-weight: 800;
    color: black;
    /*background: rgb(161, 167, 175, 0.5);
    border: 5px solid white;*/
    padding: 5px;
  }

  .caption2 {
      margin: 55% 15% 5% 15%;
      text-align: center;
  }

  .caption2-M {
    margin: 0;
    padding: 0px;
    border: 5px solid black;
    /background: rgb(161, 167, 175, 0.5);
    text-align: center;
    display: block;
    z-index: 3;
  }

  .caption1 {
    display: none;
  }

  #button1 {
    display: none;
  }

  .border {
    color: black;
    margin: 10% auto;
  }

  .button {
    margin: calc(100% - 390px) 41% 50% auto;
  }

  .nav-dots {
    width: 100%;
    bottom: 12px;
    height: 12px;
    display: block;
    position: absolute;
    text-align: center;
  }

  .nav-dot {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6)
  }
}

@keyframes contentFadeIn{
	0%{opacity:0.3}
	100%{opacity:1}
}

@keyframes contentFadeOut{
	0%{opacity:1}
	100%{opacity:0.3}
}

@keyframes firstLeft{
	0%{transform:translateX(0%) skew(20deg)}
	100%{transform:translateX(0%) skew(20deg)}
}

@keyframes firstRight{
	0%{transform:translateX(0%) skew(20deg)}
	100%{transform:translateX(0%) skew(20deg)}

}

@keyframes comeLeft{
	0%{transform:translateX(-55%) skew(0deg)}
	5%{transform:translateX(0) skew(20deg)}
	100%{transform:translateX(0) skew(20deg)}
}

@keyframes goLeft{
	0%{transform:translateX(0) skew(20deg)}
	100%{transform:translateX(-55%) skew(0deg)}
}

@keyframes comeRight{
	0%{transform:translateX(55%) skew(0deg)}
	5%{transform:translateX(0) skew(20deg)}
	100%{transform:translateX(0) skew(20deg)}
}

@keyframes goRight{
	0%{transform:translateX(0) skew(20deg)}
	100%{transform:translateX(55%) skew(0deg)}
}

@media only screen and (max-width: 750px) {
	@keyframes firstLeft{
	0%{transform:translateX(0%) skew(20deg)}
	100%{transform:translateX(0%) skew(20deg)}
	}

	@keyframes firstRight{
		0%{transform:translateX(0%) skew(-20deg)}
		100%{transform:translateX(0%) skew(-20deg)}

	}

	@keyframes comeLeft{
		0%{transform:translateX(-85%) skew(20deg)}
		5%{transform:translateX(0) skew(20deg)}
		100%{transform:translateX(0) skew(20deg)}
	}

	@keyframes goLeft{
		0%{transform:translateX(0) skew(20deg)}
		100%{transform:translateX(-85%) skew(20deg)}
	}

	@keyframes comeRight{
		0%{transform:translateX(85%) skew(0deg)}
		5%{transform:translateX(0) skew(-20deg)}
		100%{transform:translateX(0) skew(-20deg)}
	}

	@keyframes goRight{
		0%{transform:translateX(0) skew(-20deg)}
		100%{transform:translateX(85%) skew(0deg)}
	}
}