---
---


{% include base.html %}


@import url("{{base}}/assets/css/main.css");
@import url("{{base}}/assets/css/nav.css");

.div1 {
  min-width: 45%;
  height: 400px;
  margin: 0 0 0 -80px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #519090;
  overflow: hidden;
  float: left;
  position: relative;
}

.bgimg-1 {
  background: url("{{base}}/assets/img/research.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: inherit;
  left: 80px;
  right: -80px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div2 {
  width: auto;
  height: 400px;
  margin: 0 -80px 0 10px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: lightblue;
  overflow: hidden;
  float: right;
  position: relative;
  /*right: -80px;*/
}

.bgimg-2 {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: none;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caption1 {
  margin: 120px 140px auto 20px;
  border: 5px solid white;
  background: rgb(161, 167, 175, 0.5);
  text-align: center;
}

.caption2-M {
  display: none;
}

.caption2 {
    margin: auto 100px auto 80px;
}

.HHeroT {
  margin-top: 50px;
}

.button {
  margin: auto 48% 30px auto;
  background: rgb(161, 167, 175, 0.5);
  align-self: flex-end;
  border: #c3c6cc solid 0px;
  border-radius: 15%;
  padding: 0px 14px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.button:hover {
  background: rgb(161, 167, 175, 0.8);
}

.header-container input {
  display: none;
}

.nav-dots {
  width: 100%;
  bottom: 10px;
  height: 12px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6)
}

.nav-dot:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.labName {
  font-size: 30px;
  font-weight: 800;
  color: white;
  /*background: rgb(161, 167, 175, 0.5);
  border: 5px solid white;*/
  padding: 5px;
}

@media only screen and (max-width: 750px) {

  html {
    min-width: 400px;
  }

  .header-container {
    overflow: hidden;
    margin: 10px 5px 5px 5px;
    display: relative;
  }

  .div1 {
    min-width: calc(100% + 80px);
    height: 400px;
    margin: 0 -40px 0 -40px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #519090;
    overflow: hidden;
    float: left;
    position: relative;
  }

  .bgimg-1 {
    background: url("../../assets/img/research.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: inherit;
    left: 0px;
    right: -40px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .div2 {
    width: calc(100% + 80px);
    height: 400px;
    margin: 0 -40px 0 -40px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: lightblue;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    padding: 0 0 0 0px;
    /*right: -80px;*/
  }

  .bgimg-2 {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: none;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .labName {
    font-size: 30px;
    font-weight: 800;
    color: black;
    /*background: rgb(161, 167, 175, 0.5);
    border: 5px solid white;*/
    padding: 5px;
  }

  .caption2 {
      margin: ;
      text-align: center;
  }

  .caption2-M {
    margin: auto;
    padding: 5px;
    border: 5px solid black;
    /background: rgb(161, 167, 175, 0.5);
    text-align: center;
    display: block;
    z-index: 3;
  }

  .caption1 {
    display: none;
  }

  #button1 {
    display: none;
  }

  .border {
    color: black;
  }
}
