---
---


{% include base.html %}

.game {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.game:hover {
  box-shadow: 0 14px 28px rgba(143,0,179,0.25), 0 10px 10px rgba(143,0,179,0.22);
}

.tech {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tech:hover {
  box-shadow: 0 14px 28px rgba(0, 153, 255, 0.25), 0 10px 10px rgba(0, 153, 255, 0.22);
}

.soft {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.soft:hover {
  box-shadow: 0 14px 28px rgba(255, 153, 0, 0.25), 0 10px 10px rgba(255, 153, 0, 0.22);
}

.ixd {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ixd:hover {
  box-shadow: 0 14px 28px rgba(8, 153, 0, 0.25), 0 10px 10px rgba(8, 153, 0, 0.22);
}


.person {
  display: inline-block;
  margin: 10px;
  background: white;
  width: 200px;
  height: 200px;
  text-align: center;
}

.person:hover {
  display: inline-block;
  margin: 10px;
  background: white;
  width: 200px;
  height: 200px;
  text-align: center;

}

.name {
  display: inline-block;
  width: 150px;
  border-bottom: 1px solid grey;
}

.occ {
  display: inline-block;
  width: 150px;
}

.content {
  text-align: center;
}

.user {
  display: block;
  background: url('{{base}}/assets/img/user.jpeg');
  width: 125px;
  height: 125px;
  /width: auto;
  /height: auto;
  padding: 0px;
  margin: 10px auto;
  border-radius: 50%;
  filter: grayscale(100%);
}

p {
  padding: 10px;
  margin: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 140%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;

}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: block;
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  z-index: 5;
}

.light & {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.close:hover {
  opacity: 1;
}

.content3 {
  max-height: 400px;
  overflow: auto;
}

a {
  color: grey;
  text-decoration: none;
}

.popup .user {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;

}

.popup .name {
  width: 100%;
  margin: 10px 0 0px 0;
}

.popup .occ {
  width: 100%;
  margin: 0 0 10px 0;
}
