---
---


{% include base.html %}

.content {
  text-align: center;
}

h3 {
  width: auto;
  margin: auto;
}

.mentors {
  width: auto;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.person {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 0;
  background: white;
  min-width: 220px;
  height: 260px;
  max-width: 250px;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.person:hover {
  display: inline-block;
  margin: 10px;
  padding: 0;
  background: white;
  min-width: 220px;
  max-width: 250px;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.name {
  display: inline-block;
  width: 200px;
}

.Gameification .occ {
  display: inline-block;
  width: 200px;
  border-bottom: 1px solid rgba(143, 0, 179, 1);
}

.IDLAB .occ {
  display: inline-block;
  width: 200px;
  border-bottom: 1px solid rgba(8, 153, 0, 1);
}

.Software .occ {
  display: inline-block;
  width: 200px;
  border-bottom: 1px solid rgba(255, 153, 0, 1);
}

.Technology .occ {
  display: inline-block;
  width: 200px;
  border-bottom: 1px solid rgba(0, 153, 255, 1);
}

.lab {
  display: inline-block;
  width: 200px;
}



.user {
  background: url('{{base}}/assets/img/user.jpeg');
  background-size: cover;
  width: 125px;
  height: 125px;
  /width: auto;
  /height: auto;
  padding: 0px;
  margin: 10px auto;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

p {
  padding: 10px;
  margin: 0px;
}

.popup {
  display: none;
}

{% for mentor in site.mentors %}

#mentor{{ forloop.index }}:target {
  display: block;
  background: pink;
  position: absolute;
  z-index: 5;
  width: auto;
  margin: auto;
  padding: 30px;
  height: 500px;
}

{% endfor %}
