nav {
  display: inline;
  margin: 5px 10px;
  background: lightblue;
  width: auto;
  text-align: center;
  padding: 0;
}

nav ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  background: lightblue;
}

.Tier1 {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  /background: grey;
}

.Tier1:hover {
  background: deepskyblue;
}

.Tier1  a {
  padding: 5px;
}

.Tier1 a:hover {
  background: deepskyblue;
}

nav ul li a {
  text-decoration: none;
  color: #566c73;
}

nav ul li a:hover {
  color: white;
}

.Drop {
  position: relative;
  display: inline;
}

.EventsDropCont, .LabsDropCont, .ResDropCont {
  display: none;
  position: absolute;
  background-color: teal;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

.LabsDropCont {

}

.ResDropCont {

}

.Drop li {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 0px;
}

.Drop li:hover {
  background: deepskyblue;
}

.Drop li a {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 120px;
  padding: 5px 2px 5px 0px;
}

.Drop li a:hover {
  background: deepskyblue;
}

#Events:hover .EventsDropCont {
  display: block;
}

#Labs:hover .LabsDropCont {
  display: block;
}

#Res:hover .ResDropCont {
  display: block;
}
