---
---

.mainNav {
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  /*border-bottom: 1px solid lightgrey;*/
}

.mainNav a, .mainNav label {
  display: block;
  padding: 20px;
  color: grey;
  text-decoration: none;
  line-height: 20px;

}

.mainNav a:hover, .mainNav label:hover {
  color: Black;
}

.mainNav label {
  float: right;
  padding: 18px 20px;
  cursor: pointer;
}

.mainNav label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
}

.mainMenu {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
          transition: max-height 0.3s;
}

.mainMenu ul {
  margin: 0 0 0 0;
  padding: 0;
   padding-bottom: 10px;
}

.mainMenu li {
  display: block;
  text-align: center;
}

.mainMenu a {
  padding: 10px;
  width: 100%;
}

.Drop ul {
  padding-bottom:
}

#nav { display: none; }

#nav:checked ~ .mainNav {
  max-height: 500px; /* This can be anything bigger than your .mainNav height. The transition duration works with this */
}

@media only screen and (min-width: 700px) {

  .mainNav label { display: none; }

  .mainMenu {
    width: auto;
    max-height: none;
  }

  .mainMenu ul {
    padding: 0 20px;
    /padding-right: 10px;
  }

  .mainMenu li {
    display: inline-block;
    text-align: left;
  }

  .mainNav .mainMenu a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }

  .mainNav .mainMenu a:hover {
    padding: 9px 10px 19px 10px;
    margin: 10px 0 0 0;
    border-top: 1px solid lightgrey;
  }

  .ResDropCont {
    display:none;
    position: relative;
  }

  .resDrop:hover .ResDropCont {
    display:block;
    position:absolute;
    z-index: 5;
    background: white;
    width: inherit;
  }

  .Drop {
    width: auto;
    padding: 0;
    margin: 0px 0 0 -100%;
  }

  .EventsDropCont {
    display:none;
    position: relative;
  }

  .eventsDrop:hover .EventsDropCont {
    display:block;
    position:absolute;
    z-index: 5;
    background: white;
    width: inherit;
  }

  .eventsDrop .Drop {
    width: auto;
    padding: 0;
    margin: 0px 0 0 -180%;
  }

}

@media only screen and (min-width: 700px) {
}
