.content {
  text-align: center;
}

.resource {
  width: auto;
  margin: 50px auto;
  padding: 0;
  text-align: left;
  list-style-type: none;
  -webkit-column-count: 2;
          column-count: 2;
}

.resource li {
  padding: 1px 0 0px 15px;
}

/*.resource li:nth-child(odd) {
  background: rgba(0,0,0,0.05);
}*/

.game {
  border-left: 3px solid rgba(143, 0, 179, 1);
}

.tech {
  border-left: 3px solid rgba(0, 153, 255, 1);
}

.soft {
  border-left: 3px solid rgba(255, 153, 0, 1);
}

.ixd {
  border-left: 3px solid rgba(8, 153, 0, 1);
}

.resource h3 {
  margin: 0;
  padding: 5px 0 5px 5px;
}

.resource h4 {
  display: inline-block;
  margin: 0;
  padding-bottom: 5px;
}

.naming {
  width: 50%;
  text-align: center;
  padding: 0 5px;
}

.countH {
  width: 15%;
  text-align: center;
}

.count {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin: auto;
}

.os {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: auto;
}

.resource a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  width: 50%;
}

.resource a:hover {
  color: grey;
  text-shadow: 0px 0px 0px black;
}

.icon {
  position: absolute;
  margin: 0 0 0 -20px;
  display: block;
}

@media only screen and (max-width: 750px) {

  .content {
    min-height: 80%;
    margin: 0 5px 0 30px;
  }

  .resource {
    width: auto;
    margin: 50px auto;
    padding: 0;
    list-style-type: none;
    -webkit-column-count: 1;
            column-count: 1;
  }

  /*li .game:first-of-type {
    margin-top: 100px;
  }

  li .tech:first-of-type {
    margin-top: 100px;
  }

  li .soft:first-of-type {
    margin-top: 100px;
  }

  li .ixd:first-of-type {
    margin-top: 100px;
  }*/
}
