---
---
element.style{
	padding-top: 0;
	padding-left: 10px;
}

.content{
}

#Div {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.GamSoft{
	margin: 5px;
	width: 150px;
    padding: 10px;
	text-align: center;
	flex-grow: 1;
	flex-basis: 20%;
	box-shadow: 0 1px 5px rgba(0,0,0,0.12);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.GamSoftDiv{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.GamSoft:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.GamSoft h4{
	margin: 0;
	padding: 0;
}


background-color: rgba(41,128,185,0.6)
