---
---
element.style{
	padding-top: 0;
	padding-left: 10px;
}

.box1{
	width: auto;
	padding-left: 10px;
	padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
	border-radius: 0;
	border: 0;
	margin: 0;
}
.box1 div{
	margin: 0;
	
}

.inBox1{
	width: auto;
	padding: 180px;
	background-color: rgba(124,70,145,0.6);
	display: flex;
	padding-left: 10px;
	border-radius: 0 0 10px 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	color: rgb(88,88,88);
}

.Gam{
	display: block;
	background-color: rgba(124,70,145, 0.8);
	margin: 0;
	padding: 0;
}

.Gam h2{
	display: inline;
	color: rgb(88,88,88);
}

.insideBox{
	width: 50%;
}

.insideBox1{
	width: 50%;
}

.inBox2{
	width: auto;
	padding: 180px;
	background-color: rgba(146,180,87,0.6);
	display: flex;
	padding-left: 10px;
	border-radius: 0 0 10px 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	color: rgb(88,88,88);
}

.ixd{
	display: block;
	background-color: rgba(146,180,87,1);
	margin: 0;
	padding: 0;
}

.ixd h2{
	display: inline;
	color: rgb(88,88,88);
}

.inBox3{
	width: auto;
	padding: 180px;
	background-color: rgba(41,128,185,0.6);
	display: flex;
	padding-left: 10px;
	border-radius: 0 0 10px 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	color: rgb(88,88,88);
}

.Tech{
	display: block;
	background-color: rgba(41,128,185,0.8);
	margin: 0;
	padding: 0;
}

.Tech h2{
	display: inline;
	color: rgb(88,88,88);
}

.inBox4{
	width: auto;
	padding: 180px;
	background-color: rgba(243,156,18,0.6);
	display: flex;
	padding-left: 10px;
	border-radius: 0 0 10px 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
	color: rgb(88,88,88);
}

.soft{
	display: block;
	background-color: rgba(243,156,18,1);
	margin: 0;
	padding: 0;
}

.soft h2{
	display: inline;
	color: rgb(88,88,88);
}


